<%- include("../partials/header"); -%>
        
<nav style="padding:0;" class="navbar navbar-expand-md navbar-dark bg-dark ">
      <div class="container">         
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
          <% page.forEach(function(navItem){ %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="<%= navItem.text %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= navItem.text %></a>
              <div class="dropdown-menu" aria-labelledby="<%= navItem.text %>">
               <% navItem.childCategory.forEach(function(childItem){ %>
                <a class="dropdown-item" href="/category/<%= childItem._id %>"><%= childItem.title %></a>
               <% }) %>
              </div>
            </li>
            <% }) %>
          </ul>          
        </div>
      </div>
    </nav>		 
    <!-- ##### Hero Area Start ##### -->
  <section class="hero-area">
        <div class="container">
         <% if(error && error.length > 0) { %>
           <div class="alert alert-danger" role="alert"><%=error %></div>
         <% } %>
         <% if(success && success.length > 0) { %>
           <div class="alert alert-success" role="alert"><%= success %></div>
         <% } %>
         <% if(info && info.length > 0) { %>
           <div class="alert alert-info" role="alert"><%= info %></div>
          <% } %>
        </div> 
        <div class="hero-post-slides owl-carousel">

            <!-- Single Hero Post -->
            <div class="single-hero-post bg-overlay">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(/resources/HomePage/coverA.jpg);"></div>
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <!-- Post Content -->
                            <div class="hero-slides-content text-center">
<!--.................................................................diamLY QUOTES..........................................................-->
                                <h2>Time spent amongst trees is never time wasted</h2>
                                <p>Participtae in our initiative for creating more greenery..</p>
                                <div class="welcome-btn-group">
                                    <a data-scroll href="#getStarted"  class="btn plantae-btn mr-30">GET STARTED</a>
                                    <a data-scroll href="#contactArea" class="btn plantae-btn active">CONTACT US</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Main Area End ##### -->

    <!-- ##### Service Area Start ##### -->
    <section class="our-services-area bg-gray section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2><i class="fab fa-wpexplorer"></i>&nbsp; EXPLORE THE PLANT REALM</h2>
                        <p>We are here to serve your plant love at best.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-12 col-lg-5">
                    <div class="plantae-service-area mb-100">

                        <!-- FIRST Service-->
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="/resources/PlantaeCBack.png" alt="">
                            </div>
                            <!-- Content -->
                            <div class="service-content">
                                <h5>Love For Plants</h5>
                                <p>This is the easiest and most affordable solution to take care of your plant love combined with thousands of garden scaping elements. </p>
                            </div>
                        </div>

                        <!-- Second Service -->
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="300ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="resources/HomePage/ServiceLogoA.png" alt="">
                            </div>
                            <!-- Content -->
                            <div class="service-content">
                                <h5>Plants Care</h5>
                                <p>When you purchase some plants from us it is not that we forget about. We believe  that we both require to take care of that life that you brought in i.e. why we try to share care tips all along.</p>
                            </div>
                        </div>

                        <!-- Third Service-->
                        <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms">
                            <!-- Icon -->
                            <div class="service-icon mr-30">
                                <img src="resources/HomePage/ServiceLogoDelivery.png" alt="">
                            </div>
                            <!-- Content -->
                            <div class="service-content">
                                <h5>Secure Shipping</h5>
                                <p>Sturdy packaging will hold the plants in place and let the plant breathe, so that it reaches you fresh without any damage.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="plantae-video-area bg-overlay mb-100">
                        <img class="img-fluid" src="/resources/HomePage/WateringB.png" alt="">
                        <a href="#" data-toggle="modal" data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/Wxht49eww7Q" class="video-icon">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="background:transparent ;border:none>
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <div>
                                        <iframe style="border:none;" width="100%" height="350" src=""></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Service Area End ##### -->

    

    <!-- ##### Categories Area Start ##### -->
    <section class="plantae-Categories-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2><i class="fas fa-warehouse"></i>&nbsp;COLLECTIONS AVAILABLE WITH US</h2>
                        <p>Most of the gardeninig essentials are available.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="categoryPlantae" class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="plantae-Categories-filter">
                        <div class="Categories-filter">
                            <button class="btn  active"onclick="filterSelection('PLANTS')"> <span id="darkColor">Plants</span> </button>
                            <button class="btn" onclick="filterSelection('SEEDS')"><span id="darkColor">Seeds</span> </button>
                            <button class="btn" Onclick="filterSelection('POTS & PLANTERS')"><span id="darkColor">Planters</span></button>
                            <button class="btn" onclick="filterSelection('TOOLS')"><span id="darkColor">Tools</span> &nbsp;</button>
                            <button class="btn" onclick="filterSelection('ACCESSORIES')"><span id="darkColor">Accessories</span></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row plantae-Categories">                     
              <% page.forEach(function(data){ %>
              <!--Below is tge variable to store count so that logo appears next to ITEMS -->
                <% var count=0; %>
                <% data.childCategory.slice(0,6).forEach(function(childItem){ %>                   
                  <!-- Single Categories Area -->
                  <div class="column col-12 col-sm-6 col-lg-3 single_Categories_item <%= data.text %> wow fadeInUp" data-wow-delay="100ms">
                      <!-- Categories Thumbnail -->
                      <div class=" content Categories-thumbnail bg-img" style="border-radius:6px;background-image: url(<%= childItem.pageImage %>);">
                                                                        <!--FOR SELECTING IMAGE-->                                                        
                                                                            
                      </div>
                      <!-- Categories Hover Text --> 
                      <div class="Categories-hover-overlay">
                          <a href="/category/<%= childItem._id %>" class="Categories-img d-flex align-items-center justify-content-center" title="Categories 1">
                              <div class="port-hover-text">
                                  <h3><%= childItem.title %></h3>
                                  <h5><img style="width:50px; height:auto;" src="<%= plantLogo[count] %>"></h5>
                              </div>
                          </a>
                      </div>
                  </div>
                  <% count +=1 ;%>
                <%})%>  
              <% } )%>  
                <!-- Single Categories Area -->
                <div class="col-12 col-lg-6 single_Categories_item home-design wow fadeInUp" data-wow-delay="300ms">
                    <!-- Categories Thumbnail -->
                    <div class="Categories-thumbnail bg-img" style="border-radius:6px;background-image: url(/resources/HomePage/categoryCoverC.jpg);"></div>
                    <!-- Categories Hover Text -->
                    <div class="Categories-hover-overlay">
                        <a href="/allProducts" class="Categories-img d-flex align-items-center justify-content-center" title="Categories 7">
                            <div class="port-hover-text">
                                <h3>VIEW ALL ITEMS</h3>
                                <h5><img style="width:50px; height:auto;" src="/resources/HomePage/viewAllLogo.svg"></h5>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        
    </section>
    <!-- ##### Categories Area End ##### -->


    <!-- ##### Product Area Start ##### -->
    <section id="getStarted" class="new-arrivals-products-area bg-gray section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2><img src="resources/HomePage/newProductLogo.svg" style="height:35px; padding-bottom:6px; width:30px;">&nbsp;NEW PRODUCTS AVAILABLE</h2>
                        <p style="padding-left: 39px;">We have some new products, you must be excited.</p>
                    </div>
                </div>
            </div>

            <div class="row">
<!--.................................LAST FOUR PRODUCTS THAT HAVE BEEN ADDED........................ -->
                <% product.slice(product.length-4,product.length).forEach(function(PData){ %>   

                   <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Product Image -->
                        <div class="product-img">
                            <a href="/product/<%= PData._id %>"><img src="<%= PData.image %>" alt=""></a>
                            <!-- Product Tag -->
                            <div class="product-tag">
                                <a href="#"><img src="resources/HomePage/newProductLogoB.svg" style="height:35px; padding-bottom:6px; width:30px;"></a>
                            </div>
                            <div class="product-whole d-flex">
                                <a style="border-radius:50%; href="#" class="wishlist-btn"><i class="fas fa-shopping-cart"></i></a>
                                <a style="border-radius:25px; href="cart.html" class="add-to-cart-btn">Add to cart</a>    
                            </div>
                        </div>
                        <!-- Product Info -->
                        <div class="product-info mt-15 text-center">
                            <a href="/product/<%= PData._id %>">
                                <p><%= PData.name %></p>
                            </a>
                            <h6>Rs.<%= PData.price %></h6>
                        </div>
                    </div>
                  </div>        
                <% }) %>                       

                <div class="col-12 text-center">
                    <a href="/allProducts" class="btn plantae-btn">View All</a>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Product Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
<!--.............BELOW IS START OF IF STATETEMENT NEWS DATA..............-->
    <% if(news){%>
        <section class="plantae-blog-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Section Heading -->
                        <div class="section-heading text-center">
                            <h2>
                                <img src="resources/HomePage/newsLogo.svg" style="height:35px; padding-bottom:6px; width:30px;">
                                GARDEN POST
                            </h2>
                            <p>The breaking news about Gardening &amp; House plants</p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <% news.forEach(function(newsData) { %>
                        <!-- Single News Area coming from news api -->
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-blog-post mb-100">
                                <div class="post-thumbnail mb-30">
                                   <img src="<%= newsData.urlToImage %>" alt="">
                                </div>
                                <div class="post-content">
                                <!--THIS IS WHERE TITLE OF THE POST is available -->
                                    <a  class="post-title">
                                        <h5><%= newsData.title %></h5>
                                    </a>
                                    <div class="post-meta">
                                        <a class="disable"><i class="far fa-calendar-alt">
                                            </i> &nbsp; <% var date = newsData.publishedAt; var dateCorrect= date.slice(0,10); %><%= dateCorrect %>
                                        </a>
                                        <a class="disablae"><i class="fas fa-user-tag">
                                            </i> &nbsp;<%= newsData.author %>
                                        </a>
                                    </div>
                                    <p class="post-excerpt">
                                        <%= newsData.content %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                    <!--EACH NEWS AREA POST ENDS HERE-->
                </div>
            </div>
        </section>
     <% } %>   
<!--.............ABOVE IS END OF IF STATETEMENT SO THAT ABOVE PORTION IS DISPLAYED ONLY IF THERE IS SOME NEWS DATA..............-->
    <!-- ##### Blog Area End ##### -->

    <!-- ##### Subscribe Area Start ##### -->
    <section class="subscribe-newsletter-area" style="background-image: url(/resources/HomePage/newsletterBackground.jpg);">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-5">
                    <!-- Section Heading -->
                    <div class="section-heading mb-0">
                        <h2>Join the Newsletter</h2>
                        <p>Subscribe to our newsletter to stay updated with latest news from US. Also get 15% discount on your first purchase.
                        <span style="font-size:12px; text-align:center; ">"" And don't be worried we only send very few emails.""</span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="subscribe-form">
                        <form action="/subscribe" method="POST">
                            <input  style="border-radius: 25px;" type="email" name="SubEmail" id="subscribeEmail" placeholder="Enter your email">
                            <button style="border-radius: 0px 20px 20px 0px;" type="submit" class="btn second-btn"><i class="fas fa-envelope"></i> &nbsp;  SUBSCRIBE</button>
                        </form> 
                    </div>
                </div>
            </div>
        </div>

        <!-- Subscribe Side Thumbnail -->
        <div class="subscribe-side-thumb wow fadeInUp" data-wow-delay="500ms">
            <img class="first-img" src="img/core-img/leaf.png" alt="">
        </div>
    </section>
    <!-- ##### Subscribe Area End ##### -->

    <!-- ##### Contact Area Start ##### -->
    <section id="contactArea" class="contact-area section-padding-100-0">
        <div class="container align-items-left">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-5">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>GET IN TOUCH</h2>
                        <p>Send us a message, we will call back later</p>
                    </div>
                    <!-- Contact Form Area -->
                    <div class="contact-form-area mb-100">
                        <form action="plantae/contactUs" method="POST">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="contact[userName]" id="contact-name" placeholder="Your Name" required>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="contact[email]" id="contact-email" placeholder="Your Email" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" name="contact[subject]" class="form-control" id="contact-subject" placeholder="Subject" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="contact[message]" id="message" cols="30" rows="10" placeholder="Message" required></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-info mt-15">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

               <!--THIS IS THE MAP SECTUON <div class="col-12 col-lg-6">
                 
                    <div class="map-area mb-100">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22236.40558254599!2d-118.25292394686001!3d34.057682914027104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z4Kay4Ka4IOCmj-CmnuCnjeCmnOCnh-CmsuCnh-CmuCwg4KaV4KeN4Kav4Ka-4Kay4Ka_4Kar4KeL4Kaw4KeN4Kao4Ka_4Kav4Ka84Ka-LCDgpq7gpr7gprDgp43gppXgpr_gpqgg4Kav4KeB4KaV4KeN4Kak4Kaw4Ka-4Ka34KeN4Kaf4KeN4Kaw!5e0!3m2!1sbn!2sbd!4v1532328708137" allowfullscreen></iframe>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->
<script>
filterSelection ("PLANTS"); 
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}


// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

  <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script> 
<script>

    autoPlay();

  //FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
  function autoPlay() {
      var trigger = $("body").find('[data-toggle="modal"]');
      trigger.click(function () {
          var theModal = $(this).data("target"),
              videoSRC = $(this).attr("data-theVideo"),
              videoSRCauto = videoSRC + "?autoplay=1";
          $(theModal + ' iframe').attr('src', videoSRCauto);
          $(theModal + ' button.close').click(function () {
              $(theModal + ' iframe').attr('src', videoSRC);
          });
      });
  }

 
</script>
<%- include("../partials/footer"); -%>