<%- include("../partials/header"); -%>

<nav style="padding:0;" class="navbar navbar-expand-md navbar-dark bg-dark ">
      <div class="container">         
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
          <% page.forEach(function(navItem){ %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="<%= navItem.text %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= navItem.text %></a>
              <div class="dropdown-menu" aria-labelledby="<%= navItem.text %>">
               <% navItem.childCategory.forEach(function(childItem){ %>
                <a class="dropdown-item" href="/category/<%= childItem._id %>"><%= childItem.title %></a>
               <% }) %>
              </div>
            </li>
            <% }) %>
          </ul>          
        </div>
      </div>
    </nav>		
   
    <main role="main" class="container" style="margin-top: 1%;">
       <div class="container">
         <% if(error && error.length > 0) { %>
           <div class="alert alert-danger" role="alert"><%=error %></div>
         <% } %>
         <% if(success && success.length > 0) { %>
           <div class="alert alert-success" role="alert"><%= success %></div>
         <% } %>
         <% if(info && info.length > 0) { %>
           <div class="alert alert-info" role="alert"><%= info %></div>
          <% } %>
        </div> 
    </main><!-- /.container -->



<%- include("../partials/footer"); -%>