<%- include("../partials/header"); -%> <link rel="stylesheet"
href="/stylesheets/user/productShow.css"> <!-- ##### Single Product Details
Area Start ##### -->

<section style="margin-top:10%;" class="single_product_details_area mb-50"> 
 <!-- ##### Breadcrumb Area End ##### -->
        <!--TO SHOW ALL THE ALERTS RELATED INFO-->  
        <main role="main" class="container" style="margin-top: 1%;">
               <div class="container">
                 <% if(error && error.length > 0) { %>
                   <div class="alert alert-danger" role="alert"><%=error %></div>
                 <% } %>
                 <% if(success && success.length > 0) { %>
                   <div class="alert alert-success" role="alert"><%= success %></div>
                 <% } %>
                 <% if(info && info.length > 0) { %>
                   <div class="alert alert-info" role="alert"><%= info %></div>
                  <% } %>
                </div> 
        </main>	
	<div class="produts-details--content mb-50"> 
		<div class="container"> 
			<div class="row justify-content-between">
                    <div class="col-12 col-md-6 col-lg-5">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
	                                <% plant.otherimages.forEach(function(foundImage){ %>										    
							                <div class="carousel-item active" style="height:auto;	">
		                                        <a class="product-img" href="<%= plant.image %>" title="Product Image">
		                            	            <img class="d-block w-100" src="<%= plant.image %>" alt="1">
		                       		             </a>
		                                    </div>			    
									<% }) %>
								    <!-----------Image of plants end here----------------->                                                            
                                </div>
                                <!-- <ol class="carousel-indicators">
                                <% var count=0; %>
                                	<% plant.otherimages.forEach(function(foundImage){ %>												    
							                <li class="active" data-target="#product_details_slider" data-slide-to="<%=count%>" style="background-image: url(<%= foundImage %>);">
		                                    </li>	
		                                    <% count+=1 ;%>		    
									<% }) %>                                  
                                </ol>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="single_product_desc">
                            <h4 class="title"><%=plant.name%></h4>
                            <h4 class="price">₹<%= plant.price %>.00</h4>
                            <div class="short_overview">
                                <p><%=plant.about%></p>
                            </div>	

                            <div class="cart--area d-flex flex-wrap align-items-center">
                              <div class= "row">
	                              <div class="col-md-10">
		                                <!-- Add to Cart Form -->
		                                <form class="cart clearfix d-flex align-items-center" action="/addToCart/<%= plant._id %>" method="POST">
		                                    <div class="quantity">
		                                        <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
		                                        <input type="Number" class="qty-text" id="qty" step="1" min="1" max="<%=plant.quantityAvailable%>" value="1" name="quantity">
		                                        <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
		                                    </div>
		                                    <button type="submit" name="addtocart" value="<%=plant.name%>" class="btn plantaeF-btn ml-15">Add to cart</button>
		                                </form>
		                            </div>		                           
		                        </div>    
                            </div>

                            <div class="products--meta">
                                <p><span>Delivery:</span> <span>Pan India Delivery</span></p>
                                <p><span>Category:</span> <span><%=plant.category.title%></span></p>
                                <p><span>Ease of care:</span> 
                                	<span>
                                		<% if(plant.difficultyLevel===1){ %>
									  		<img id ="RatingsImage1" src="/resources/RatingsStar/Ratin1Star.png" alt=" 1 star" style="height:1.4em;">
									  	<% } else if(plant.difficultyLevel===2){ %>
									  		<img id ="RatingsImage2" src="/resources/RatingsStar/Ratin2Star.png" alt=" 2 star" style="height:1.4em;">  	
									  	<% } else if(plant.difficultyLevel===3){ %>
									  		<img id ="RatingsImage3" src="/resources/RatingsStar/Ratin3Star.png" alt=" 3 star" style="height:1.4em;">
									  	<% } else if(plant.difficultyLevel===4){ %>
									  		<img id ="RatingsImage4" src="/resources/RatingsStar/Ratin4Star.png" alt=" 4 star" style="height:1.4em;">
									  	<% } else if(plant.difficultyLevel===5){ %>
									  		<img id ="RatingsImage5" src="/resources/RatingsStar/Ratin5Star.png" alt=" 5 star" 	style="height:1.4em;">
									  	<% } %>
									</span>
									</p>
                                <p>
                                    
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product_details_tab clearfix">
                        <!-- Tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="product-details-tab">
                            <li class="nav-item">
                                <a href="#description" class="nav-link active" data-toggle="tab" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a href="#addi-info" class="nav-link" data-toggle="tab" role="tab">Additional Information</a>
                            </li>
                            <li class="nav-item">
                                <a href="#reviews" class="nav-link" data-toggle="tab" role="tab">Reviews <span class="text-muted">(<%= plant.reviews.length %>)</span></a>
                            </li>
                        </ul>
                        <!-- Tab Content -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="description">
                                <div class="description_area">
                                	<h6>General Information</h6>
                                    <p><%=plant.description%></p>
                                    <h6>Specification</h6>
                                    <small>##Below sizes are indicative actual product size may vary</small>
                                    <p>
                                    <!--THIS IS THE SPEACIFICATION INDEX-->
                                    	<div class="row">
                                    		<div class="col-md-3">
		                                    	<table >
												  <thead>
												    <tr>												      
												      <th scope="col">Specification</th>
												      <th scope="col">Value</th>										      
												    </tr>
												  </thead>
												  <tbody>
												    <tr>												      
												      <td>Height</td>
												      <td><%= plant.specification.height %> inch.</td>												      
												    </tr>
												    <tr>												     
												      <td>Width</td>
												      <td><%= plant.specification.spread %> inch.</td>												  
												    </tr>												    
												  </tbody>
												</table>
											</div>
										</div>												
									<!--...........SPECS DATA END HERE.................-->
									</p>
									<h6><img src="/resources/productShow/features.svg" style="width:1em; padding:auto;"> Features </h6>
										<div class="row">
											<div class="col-md-5">
												<p><%= plant.features %></p>
											</div>
										</div>		
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="addi-info">
                                <div class=" additional_info_area description_area">
                                	<h5>General planting care <small>(After delivery process) </small>:</h5>
                                		<div style="margin-left:1%;">
	                                		<p> Step 1: <span>Unbox your plant and completely remove it from all packaging. </span></p>

											<p> Step 2: <span>Ensure that your plant is hydrated by thoroughly watering.</span></p>

											<p> Step 3: <span>Allow your plant to rest indoors for 24-48 hours. If plants were shipped without soil, plant immediately in a container. Spritzing with water occasionally throughout the day can help keep humidity levels higher.</span></p>

											<p> Step 4: <span>For indoor plants, plant in its container while being kept in a shady spot.  For outdoor plants or trees, if already in a container start re-introducing it to the outdoors in shade only. </span></p>

											<p> Step 5: <span>Slowly acclimate the plant to sun exposure by increasing the amount of sunlight over a period of several days</span></p>

											<p> Step 6: <span>For outdoor plants or trees, plant in its permanent location.</span></p>
										</div>	


                                	<% if(plant.sunlight.length>0||plant.soil.length>0||plant.water.length>0){ %>
                                	<h5 style="padding-top:2 %;">Plant Care</h5>
                                		<h6><img src="/resources/productShow/sunCare.svg" style="width:2em;" >&nbsp;&nbsp;Sunlight:</h6>
	                                    <p >
	                                    	<ul style="margin-left:4%; 	">
	                                    		<% plant.sunlight.forEach(function(sun){ %>
	                                    		<li>
		                                    		<%=sun%>
	                                    		</li>
	                                    		<% }) %>
	                                    	</ul>	
	                                    </p>
	                                    <h6><img src="/resources/productShow/waterCare.svg" style="width:2em;" >&nbsp;&nbsp;Water:</h6>
	                                    <p >
	                                    	<ul style="margin-left:4%;">
	                                    		<% plant.water.forEach(function(watercare){ %>
	                                    		<li>
		                                    		<%=watercare%>
	                                    		</li>
	                                    		<% }) %>
	                                    	</ul>	
	                                    </p>
	                                    <h6><img src="/resources/productShow/solicare.svg" style="width:2em;" >&nbsp;&nbsp;Soil:</h6>
	                                    <p >
	                                    	<ul style="margin-left:4%;">
	                                    		<% plant.soil.forEach(function(soilcare){ %>
	                                    		<li>
		                                    		<%=soilcare%>
	                                    		</li>
	                                    		<% }) %>
	                                    	</ul>	
	                                    </p>

	                                <% }else{ %>
	                                	<h6>Garden Essentials</h6>
	                                	<p>Technically to garden all you need is seeds, soils, sun, and water. But a lot of gardening is hard work that it made easier with the right tools. If you’re new to gardening and figuring out the basics, there are many gardening tools available with us that you should consider adding to your collection. What you’ll need will be determined by what you grow, where you grow it, and how you grow it, but these tools are great for most gardeners.</p>
	                                <% } %>    
                                    

                                    <h6>Product uses :</h6>
                                    <p><%=plant.uses%></p>
                                    <p>Wikipedia : <span><a style="color:blue;" href="<%=plant.wikilink %>"><%=plant.wikilink %></a></span></p>
                                    <div class="video-container">
									  <iframe src="<%=plant.youtube%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>

                                    	
                                    
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="reviews">
                               <% if(plant.reviews.length==0){%>
                               	<h3>Be the first person to review the product..	</h3>
                               <% } %>
                                    <ul>
                                        <li>
                                           <% plant.reviews.forEach(function(review){ %>
	                                            <div class="single_user_review mb-15">
	                                                <div class="review-rating">
	                            <!--..........................THIS IS THE AREA TO FETAURE REVIEW STARS................-->
	                                                    <% for(i=0; i<review.star; i++){%>                                                    
		                                                    <i class="fa fa-star" aria-hidden="true"></i>
		                                                <% } %>    
	                                                    <span>for Plantae</span>
	                                                </div>
	                                               
	                                                <div class="review-details">
	                                                	<%=review.text%>
	                                                    <p>by <a href="#"><%=  review.username %></a>  &nbsp;<span><%= moment(review.createdAt).fromNow() %></span></p>
	                                                </div>
	                                            </div>                                            
                                            <% }) %>                                            
                                        </li>
                                    </ul>
                              

                                <div class="submit_a_review_area">
                                    <h4>Submit A Review</h4>
                                    <small>##You need to login first before you can review an item </small>
                                    <form action="/product/<%=plant._id%>/review" method="POST">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group d-flex align-items-center">
                                                    <span class="mr-15">Your Ratings:</span>
                                                    <div class="stars">
                                                        <input required 	type="radio" name="review[star]" value="1" class="star-1" id="star-1">
                                                        <label class="star-1" for="star-1">1</label>
                                                        <input type="radio" name="review[star]" value="2" class="star-2" id="star-2">
                                                        <label class="star-2" for="star-2">2</label>
                                                        <input type="radio" name="review[star]" value="3" class="star-3" id="star-3">
                                                        <label class="star-3" for="star-3">3</label>
                                                        <input type="radio" name="review[star]" value="4" class="star-4" id="star-4">
                                                        <label class="star-4" for="star-4">4</label>
                                                        <input type="radio" name="review[star]" value="5" class="star-5" id="star-5">
                                                        <label class="star-5" for="star-5">5</label>
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="comments">Comments</label>
                                                    <textarea name="review[text]" required class="form-control" id="comments" rows="5" data-max-length="250"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn plantaeF-btn">Submit Your Review</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<script>
function goBack() {
  window.history.back();
}
</script>
<%- include("../partials/footer"); -%>