<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Deep@Plantae">
    <!--FonAwesome CSS and S for icons-->
     <script defer src="/fontawesome-free-5.13.0-web/js/all.js"></script>
     <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Raleway&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merienda+One&display=swap" rel="stylesheet">
     <link href="/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
     <link href="/stylesheets/user/user_pages.css" rel="stylesheet">
     <link rel="shortcut icon" type="image/x-icon" href="/resources/PlantaeCBack.png" />
    <!--BootsTrap CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Magnific popup for youtube -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!--Jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/user/index.css">
    <title>PlantAe</title>

  </head>

  <body style="padding: 0px;">
    <header class="header-area">      
    <div class="header-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">       
                    <nav class="navbar navbar-expand-lg navbar-light classy-navbar fixed-top custom-carets">
                      <div class="container">                        
                          <a class="navbar-brand" href="/">Plantae</a>      
                            <button style="background: none;border: none;"class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="   navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                           </button>                        

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto navbar-menu-items">
                             <% page.forEach(function(navItem){ %>
                                <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="<%= navItem.text %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= navItem.text %></a>
                                  <div class="dropdown-menu" aria-labelledby="<%= navItem.text %>">
                                   <% navItem.childCategory.forEach(function(childItem){ %>
                                    <a class="dropdown-item" href="/category/<%= childItem._id %>"><%= childItem.title %></a>
                                   <% }) %>
                                  </div>
                                </li>
                            <% }) %>  
                          </ul>                           
                        
                        <form class="form-inline navbar-search-form ml-auto disabled" action="" method="post">
                          <input type="search" name="search" placeholder="Type and hit enter..." aria-label="Search" class="search form-control">
                        </form>
                          <ul class="navbar-nav navbar-search-button">
                              <li class="nav-item">
                                  <a class="nav-link shortNavLink search-button" href="#"><i class="fas fa-search"></i></a>
                              </li>
                          </ul>
                          <ul class="nav ">
                            <% if(!currentUser){ %>  
                              
                                <li class="nav-item">
                                  <a  style="color:#ff7071;"  class=" nav-link shortNavLink" href="/login">
                                      <span>Login&nbsp;<span><i class="fas fa-sign-in-alt"></i>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="  nav-link active shortNavLink" href="/login">
                                  <i class="fas fa-shopping-cart"></i>0</a>
                                </li>
                            <% }else{ %> 
                                 <li class="nav-item dropdown">
                                    <a  style="color:#ff7071;" class="shortNavLink nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Account
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a  class=" dropdown-item" href="/<%= currentUser._id %>/profile"><i style="color:#ff7071" class="fas fa-user-circle"></i>&nbsp;Edit Profile</a>                                      
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="/logout"><i style="color:#ff7071" class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
                                    </div>
                                </li> 
                                <li class="nav-item">
                                  <a class=" nav-link active shortNavLink" href="/cart">
                                  <i  style="color:#ff7071" class="fas fa-shopping-cart"></i><%= currentUser.cart.length %>  </a>
                                </li>
                            <%}%>    
                          </ul>                          
                          </div>

                      </div>
                    </nav>                   
              </div>
        </div>
    </div>    
</header>
<!-- /.container -->
<!-- <nav style="padding-bottom: 2px;padding-top: 2px;" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><img style="height:60px;" src="/resources/PlantaeCBack.png" alt ="PlantAe"><span>Plantae</span></a>
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        
        </ul>

        <form class="form-inline my-2 my-lg-0 ml-auto">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        
      </div>
  </div>
</nav> -->
  